<?xml version = "1.0" encoding = "UTF-8"?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd ">

    <bean id = "dataSource"
          class = "org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name = "driverClassName" value = "com.mysql.cj.jdbc.Driver"/>
        <property name = "url" value = "jdbc:mysql://localhost:3306/gs"/>
        <property name = "username" value = "root"/>
        <property name = "password" value = "x2Aht9LND6g3"/>
    </bean>

    <bean id = "tagJdbcTemplate"
          class = "org.example.gs.dao.TagJdbcTemplate">
        <property name = "dataSource" ref = "dataSource" />
    </bean>
    <bean id = "giftCertificateJdbcTemplate"
          class = "org.example.gs.dao.GiftCertificateJdbcTemplate">
        <property name = "dataSource" ref = "dataSource" />
    </bean>
    <bean id = "giftCertificateTagJdbcTemplate"
          class = "org.example.gs.dao.GiftCertificateTagJdbcTemplate">
        <property name = "dataSource" ref = "dataSource" />
    </bean>

</beans>